<div class="mainContainer mainContainer-size">
    <div class="buttonContainerGrid grid">
        <div class="col-7 buttonContainer">
            <a style="height: 60%; width: 60%;" routerLink="/order">
                <button style="width: 100%;" class="button" pButton type="button" label="Make your Order" ></button>
            </a>
        </div>
        <p-divider layout="vertical">
            <b>OR</b>
        </p-divider>
        <div class="col buttonContainer">
            <a style="height: 60%;" routerLink="/admin/orders">
                <button class="button" pButton type="button" label="I'm an Employee" ></button>
            </a>
        </div>
    </div>
</div>
