.mainContainer {
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

.mainContainer-size {
    width: 60vw;
    height: 30vh;
}

.buttonContainerGrid {
    height: 100%;
    display: flex;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 100%;
}

a {
    text-decoration: none
}