<p-table [value]="(orders | async)!" selectionMode="single" sortField="delivery">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th pSortableColumn="delivery">Delivery Time<p-sortIcon field="delivery"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr (click)="onRowSelect(order)">
            <td>{{order.customerInfo.name}}</td>
            <td>{{order.customerInfo.phone}}</td>
            <td>{{order.delivery | date:'medium'}}</td>
        </tr>
    </ng-template>
</p-table>